/* Ide írhatod a stílusokat a feladat szerint */
body{
    background-color: #F0F0F0;
    color: #333333;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
.keret{
    width: 90%;
    margin: 0 auto;
}
.keret > *{ /*A .keret-en belül minden elem*/
    margin-top: 50px;
}
h2{
    text-align: center;
}
hr{
    height: 3px;
    background-color: #CCC;
    border: none;
}
img{
    width: 300px;
    border-radius: 10px;
}
footer{
    text-align: center;
}
.bemutato > p{ /*a bemutato div-ben lévő bekezdés (p)*/
    font-style: italic;
}
h2{
    text-align: center;
}
.latvanyok{
    display: flex;
    justify-content: space-evenly;
}
.latvany > h3{
    text-align: center;
    color: #060;
}