body{
    width: 60%;
    margin: auto;
    background-color: #DDFFDD;
    color: #002200;
}
h2{
    text-align: center;
}
li{
    font-weight: bold;
}
.kepek{
    display: flex;
    flex-direction: column;
    float: right;
}
.kepek > img{
    width: 150px;
    margin-bottom: 15px;
}
.utvonal{
    font-weight: bold;
}
ul > p{
    margin-bottom: 45px;
}
.kep{
    margin: auto;
    width: 350px;
}