body{
    background-color: #DDFFFF;
    color: #004400;
    font-family: Monotype Corsiva, Times new Roman, Courier;
    width: 700px;
    margin: auto;
}
.felsocim{
    font-style: italic;
}
.alsocim{
    font-style: italic;
    text-align: right;
}
.bdoboz > h2{
    text-align: center;
}
.felso{
    font-size: 50px;
}
.also{
    font-size: 40px;
}
.bdoboz{
    background-color: lightgreen;
    border: 1px solid black;
    margin: auto;
}
.kdoboz{
    border: 4px solid gray;
    background-color: lightgreen;
    margin: auto;
    width: 60%;
    padding: 2px;
}